.bg-img{
    background-image: url(https://picsum.photos/1900/600);
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
}
.text-justify{
    text-align: justify;
}